<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: page_head}">
</head>
<body>
<nav th:replace="~{layout :: page_navbar}"></nav>
<h1 class="text-center my-4">List of Products</h1>
<a class="btn btn-primary mb-3" href="/clients/create">Add Product</a>
<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr th:each="product : ${products}">
          <td th:text="${product.id}"></td>
          <td th:text="${product.name}"></td>
          <td th:text="${product.description}"></td>
          <td th:text="${product.price}"></td>
          <td style="white-space: nowrap;">
              <a class="btn btn-primary btn-sm"
                 th:href="@{/clients/edit(id=${product.id})}">Edit</a>
              <a class="btn btn-danger btn-sm"
                 th:href="@{/clients/delete(id=${product.id})}"
                 onclick="return confirm('Are you sure?')">Delete</a>
          </td>


      </tr>
    </tbody>
</table>
</body>
</html>